# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore environment files
.env

# Ignore IDE or editor settings
.vscode/

# Ignore virtual environment
venv/

# Ignore Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# Ignore other common python files
*.log